{% extends "base.html" %} {% load static %} {% block body %}
<section
  class="bg-img1 txt-center p-lr-15 p-tb-92 m-t-84"
  style="background-image: url({% static 'images/bg-02.jpg' %})"
>
  <h2 class="ltext-105 cl0 txt-center">Categorías</h2>
</section>
<!-- Producto -->
<div class="bg0 m-t-84 p-b-140">
  <div class="container">
    <div class="row isotope-grid">
      {% for d in data %}
      <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <img src="{{d.pimg.url}}" alt="IMG-PRODUCT" />
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                {{d.pname}}
              </a>

              <span class="stext-105 cl3"> ${{d.pprice}} </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a class="btn btn-primary m-r-5" disabled>
                <i class="zmdi zmdi-shopping-cart"></i>
              </a>
              <a class="btn btn-primary" href="/add-wish/{{d.pid}}/">
                  <i class="zmdi zmdi-favorite-outline"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="col-12">
      <div class="pagination d-flex justify-content-center mt-5">
        {% if data.has_previous %}

        <a href="?page={{data.previous_page_number}}" class="page-link"><<</a>
        {% endif %}

        <a href="#" class="active page-link">{{data.number}}</a>
        {% if data.has_next %}

        <a href="?page={{data.next_page_number}}" class="page-link">>></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock body %}
